In [1]:
import numpy as np
import pandas as pd
pd.read_csv("fuel_ferc1.csv")
df = pd.read_csv("fuel_ferc1.csv")

In [3]:
df.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [ ]:
#1. a.eextend (b)

In [9]:
a = [1,2,4,5,6]
b = [13,21,34]
a.extend(b)

In [12]:
print(a)

[1, 2, 4, 5, 6, 13, 21, 34, 13, 21, 34]

In [13]:
#2. how to create an identity matrix

In [14]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [15]:
np.identity(2)

array([[1., 0.],
       [0., 1.]])

In [16]:
#3 the answer is Gas = 13.659397

In [17]:
group_fist = df[['fuel_type_code_pudl','fuel_cost_per_unit_burned']]
new_group = group_fist.groupby(['fuel_type_code_pudl'],as_index=False).mean()
new_group

  fuel_type_code_pudl  fuel_cost_per_unit_burned
0                coal                  67.421830
1                 gas                  13.659397
2             nuclear                4955.157002
3                 oil                 168.877086
4               other                  18.253856
5               waste                  19.518122

In [18]:
#4 standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) ans = 10.60 and 17.01

In [33]:
df.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [20]:
#5 the skewness and kurtosis for the fuel quantity burned  ans= 15.85 and 651.37

In [21]:
df.skew()

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [22]:
df.kurt()

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

In [23]:
#6 Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a
#factor of the total number of rows

In [24]:
len(df)

29523

In [26]:
df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [27]:
# the feature that has missing value is Fuel unit.
# missing valu = 180
# total rows = 29523
#thefore the percentage of the missing value = (180/29523)*100 ans.= 0.610%

In [28]:
#7 ans. Categorical and mode imputation bacause using the measures of central tendency involves substituting the missing value
# value with the mean or median for numerical variables and the mode for categorical variables.

In [32]:
#8

In [ ]:
#9 ((1994cost - 1998cost)/1994cost)*100

In [30]:
#10

In [31]:
group_fist = df[['report_year','fuel_cost_per_unit_burned']]
new_group = group_fist.groupby(['report_year'],as_index=False).mean()
new_group

    report_year  fuel_cost_per_unit_burned
0          1994                 213.191996
1          1995                 354.422555
2          1996                  79.434995
3          1997                 149.482132
4          1998                 126.683519
5          1999                 120.053605
6          2000                 237.797111
7          2001                 133.013010
8          2002                 101.179365
9          2003                 123.183919
10         2004                 154.897398
11         2005                 107.111221
12         2006                 151.361249
13         2007                 202.622082
14         2008                 255.954415
15         2009                 215.699318
16         2010                 262.951203
17         2011                 301.754519
18         2012                 258.804138
19         2013                 255.991023
20         2014                 442.359068
21         2015                 237.933197
22         2016                 247.083959
23         2017                 246.281796
24         2018                 232.992036